* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("asset/fog-3622519_1920.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Arial", sans-serif;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.header {
    width: 100vw;
    height: auto;
    padding: 15px;
    text-align: center;
}

.form {
    width: 35%;
    height: 140px;
    margin: 25px;
    background-color: white;
    opacity: 0.8;
    border-radius: 7px;
    box-shadow: 5px 5px 10px 2px #333333;
    padding: 15px;
    text-align: center;
}

.form input {
    width: 90%;
    height: 30px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.form input:placeholder {
    font-size: 15px;

}

input:focus {
    outline: none;
}

#submit {
    color: white;
    background-color: #588C55;
    width: 35%;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

#submit:hover {
    color: black;
}

#geo {
    width: 5%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    float: right;
}

#geo i {
    font-size: 30px;
    color: #588C55;

}

#geo i:hover {
    opacity: 0.8;
}

.loader {
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #588C55;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 10px auto 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide-loader {
    display: none;
}

.result {
    width: 35%;
    height: auto;
    margin: 25px;
    background-color: white;
    opacity: 0.8;
    border-radius: 7px;
    box-shadow: 5px 5px 10px 2px #333333;
    padding: 15px;
}

#cityName {
    color: #333333;
    margin-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
}

ul {
    text-align: center;
    color: #49774C;
}

ul li {
    list-style: none;
    padding: 10px 0px;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #49774C;
    position: fixed;
    bottom: 0px;
    opacity: 0.7;
    text-align: center;
}

footer span {
    color: black;
    font-size: 10px;
    line-height: 50px;
}


/* 
MEDIA QUERIES 
*/

@media screen and (max-width: 768px) and (min-width: 376px) {

    #submit {
        width: 100%;
    }

    .form,
    .result {
        width: 50%;
    }

    i {
        font-size: 15px;
    }
}

@media screen and (max-width: 375px) {

    #submit {
        width: 100%;
    }

    .form,
    .result {
        width: 90%;
    }

    i {
        font-size: 10px;
    }

}